# Server Port
PORT=3004

# MongoDB Integration Config staging
MONGODB_URI=mongodb://mongodb/igen-erp
MONGODB_USER=admin
MONGODB_PASSWORD=MSNLeUpcwZty0DWGgQp5
MONGODB_AUTH_SOURCE=admin

# JWT Secrets for Authentication
JWT_ACCESS_SECRET=some_long_and_secure_jwt_access_secret_key_string
JWT_REFRESH_SECRET=some_long_and_secure_jwt_refresh_secret_key_string

# Allowed CORS Origins
LINK_COR=http://localhost:3004,http://103.90.226.200:3004,https://baogia.igentechsolutions.com

# Seed Admin Credentials
ADMIN_EMAIL=admin@igen-erp.com
ADMIN_PASSWORD=AdminPass123
ADMIN_DISPLAY_NAME="Admin Báo Giá"
